# Ignore default database
/*.sqlite3

# Ignore other unneeded files

.DS_Store

# Ignore notes file

notes

# Ignore media files

#lakesofyosemite/media*
#some random comments here for github experiment