{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Muli:200,600" rel="stylesheet">
	<link rel="shortcut icon" type="image" href="{% static 'favicon.ico' %}">
	<title>Lakes of Yosemite</title>
</head>
<body>
	<div class="topbar">
		<header>
			<a href="{% url 'home' %}"><span class="logo">Lakes of Yosemite</span></a>
			<span class="mainnav"><a href="{% url 'lakes_lists' %}">Lakes</a> | <a href="{% url 'notes' %}">Notes</a> | <a href="{% url 'about' %}">About</a></span>
		</header>
	</div>
	<div class="mainstage">
	{% block content %}
	{% endblock %}
	</div>
	<div class="bottombar">
		<footer>
			<div class="footdate">
				<p>Last Updated: June 3, 2021</p>
				<p>Copyright 2021 by Mike Mullen</p>
			</div>
			<div class="footsocial"><a href="https://www.instagram.com/lakesofyosemite/" target="_blank"><img src="{% static 'images/Instagram.svg' %}" alt="Link to Lakes of Yosemite Instagram"></a></div>
			<div class="footlinks">
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'lakes_lists' %}">Lakes</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
				</ul>
			</div>
		</footer>
	</div>

<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "42de7d7bab914f2db50654600fc09f8b"}'></script><!-- End Cloudflare Web Analytics -->

</body>
</html>