{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Muli:200,600" rel="stylesheet">
	<link rel="shortcut icon" type="image" href="{% static 'favicon.ico' %}">
	<title>Lakes of Yosemite</title>
</head>
<body>
	<div class="topbar">
		<header>
			<a href="{% url 'home' %}"><span class="logo">Lakes of Yosemite</span></a>
			<span class="mainnav"><a href="{% url 'about' %}">About</a> | <a href="{% url 'lakes_lists' %}">Lakes</a> <!--| <a href="#">Notes</a>--></span>
		</header>
	</div>
	<div class="mainstage">
	{% block content %}
	{% endblock %}
	</div>
	<div class="bottombar">
		<footer>
			<div class="footdate">
				<p>Last Updated: October 9, 2020</p>
				<p>Copyright 2020 by Mike Mullen</p>
			</div>
			<div class="footsocial"><a href="https://www.instagram.com/lakesofyosemite/" target="_blank"><img src="{% static 'images/Instagram.svg' %}" alt="Link to Lakes of Yosemite Instagram"></a></div>
			<div class="footlinks">
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'lakes_lists' %}">Lakes</a></li>
					<li><a href="#">Contact</a></li>
					<!--<li><a href="#">Notes</a></li>-->
				</ul>
			</div>
		</footer>
	</div>
</body>
</html>