{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="textpage">
	<h1>Giving Back</h1>
	
<p>“Leave it just the way we found it,” my dad would say every time we camped or hiked. He was a passionate fisherman, forever in search of a mountain stream as filled with trout as it was empty of people. We had many harrowing and memorable adventures scrambling up and down canyons in search of deep pools, mostly without the aid of trails, because Dad thought trails would lead other fisherfolk to the same waters. He taught me to fish, hike cross-country, and backpack. He also taught me to leave a place just as we found it, such that no one would know we had been there, his own proto-version of leave no trace. As a result of his training, I have always worked to limit my impact on the places I’ve visited as much as possible, and I fully embrace the <a href="https://lnt.org/why/7-principles/" target="_blank"> Seven Principles of Leave No Trace</a>.</p>

<p>Adding to the critically important impact mitigation of Leave No Trace, I now want to actively give back to the special places I am fortunate to visit. Giving back feels like the logical next step for me, and so moving forward I am making a personal commitment to:</p>

<ul>
<li>Picking up and packing out trash during my hikes</li>

<li>Cleaning up trailhead parking areas after each of my hikes</li>

<li>Greeting every person I encounter on trail, and being ready to render aid</li>

<li>Promoting responsible use of our outdoor places</li>

<li>Answering any questions about places and routes to the best of my ability</li>

<li>Giving back financially, by making an annual contribution based on my usage of the wilderness. For 2021 I’m donating $10/day for each day I spend in Yosemite to the <a class="showlinks" href="https://yosemite.org/" target="_blank">Yosemite Conservancy</a></li>

<li>Offsetting my travel to the mountains using the <a class="showlinks" href="https://protectourwinters.org/cost-of-carbon/" target="_blank"> Protect Our Winters “Cost of Carbon – Find Your Footprint” tool</a></li>

<li>Donating pro bono services to conservation groups**</li>

</ul>

<p>** If you are part of a conservation group and are interested in working together <a href="{% url 'contact' %}">drop me a line</a>, I’m always looking for opportunities to donate service in the areas of photography, graphic design, or web development.</p>

<img src="{% static 'images/giving-back.jpg' %}" alt="A festive bunch of mylar balloons littering the floor of a lush forest">
	<p class="imgcaption">Mylar balloons found off trail near <a href="/lakes/gravel-pit-lake/">Gravel Pit Lake</a>, and packed out. I find released balloons on at least half of my hikes.</p>


</div>
{% endblock %}