{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="mainmap">

	<div class="fullmapimg"><img src="{% static 'images/fullmapblue.svg' %}"></div>
	<div class="mapsidebarright">
			<h1 class="introline">Journey to the <span class="bigblue">167</span> Lakes of Yosemite</h1>
		<p><span class="big visited">120</span> photographed</p>
		<p><span class="big unvisited">47</span> to photograph</p>
		<p><span class="big">581</span> miles hiked</p>
		<p><span class="big">11,445'</span> elevation of highest lake: Maclure Lake</p>
		<p><span class="big">100</span> off trail lakes</p>
		<p><span class="big">177.89</span> acres of largest lake: Tenaya Lake</p>
		<p><span class="big">1.63</span> acres of smallest lake: Shamrock Lake</p>
		<p class="recenttrip">Date of most recent trip: June 6-8, 2020</p>
		<p class="recenttrip">Start date: May 11, 2016</p>
		<p class="recenttrip">Projected end date: October 2022</p>
		</div>
</div>


{% endblock %}