{% extends "base.html" %}
{% load static %}
{% block content %}
<!--
<div>
		<ul class="fulllist">
			{% for lake in lakes %}
				<li>
					<a href="{% url 'lake_detail' lake.slug %}">{{ lake.name }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>

-->
<!--testing previous button graphic option
<a href="{% url 'lake_detail' prevlake.slug %}"><div class="prevButton"><img src="{% static 'images/prev.svg' %}" alt="Previous lake icon"></div></a>-->

<!--<a href="{% url 'lake_detail' nextlake.slug %}"><button class="nextButton">Next {{ nextlake.name }}</button></a> -->
<div class="lakecard">
		<!--<div class="statsicon"><img src="{% static 'images/stats_icon.svg' %}" alt="Lake Stats"></div> old nav with graphic-->
		<div class="statsicon"><span class="navbtn">Details</span></div>
		<div class="lakename">
		<!--<a href="{% url 'lake_detail' prevlake.slug %}"><img src="{% static 'images/prevoff.svg' %}" alt="Previous lake icon"></a> another previous lake test -->
		{{ lake.name }}</div>
		<div class="photoicon">
		{% if lake.image %}
		<a class="navbtn" href="{% url 'lake_images' lake.slug %}">Photo</a>
		{% else %}
		<span class="navbtn nophoto">No Photo Yet</span>
		{% endif %}
		</div>
		<div class="prev">previous: <a href="{% url 'lake_detail' prevlake.slug %}">{{ prevlake.name }}</a></div>
		<div class="sortedby">all lakes | sorted a to z</div>
		<div class="next">next: <a href="{% url 'lake_detail' nextlake.slug %}">{{ nextlake.name }}</a></div>
		<div class="elevation">elevation in feet:</div>
		<div class="size">surface area in acres:</div>
		<div class="location">lat lon location:</div>
		<div class="lakeelevation">{{ lake.elevation }}</div>
		<div class="lakesize">{{ lake.size }}</div>
		<div class="lakelatlon">
			<a href="https://caltopo.com/map.html#ll={{ lake.lat }},{{ lake.lon }}&z=14&b=t" target="_blank">{{ lake.lat }}, {{ lake.lon }}</a>
		</div>
		<div class="lakeoutline"><img src="{{ lake.lakeoutline.url }}"></div>
		<div class="lakemap"><img src="{{ lake.locationmap.url }}"></div>
		<!-- Removed temporarily to simplfy launch moved to 2.0
		<div class="lakedrainagelable">Trailhead:</div>
		<div class="lakedrainagetree">{{ lake.trailhead }} : {{ lake.traildistance }}</div>
		-->
</div>


{% endblock %}