{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="lakecard">
		<div class="statsicon"><span class="navbtn">Details</span></div>
		<h1 class="lakename">{{ lake.name }}</h1>
		<div class="photoicon">
		{% if lake.image %}
		<a class="navbtn" href="{% url 'lake_images' lake.slug %}">Photo</a>
		{% else %}
		<span class="navbtn nophoto">No Photo Yet</span>
		{% endif %}
		</div>
		<div class="prev breathingroom">Previous: <a href="{% url 'lake_detail' prevlake.slug %}">{{ prevlake.name }}</a></div>
		<div class="sortedby breathingroom">all lakes | sorted a to z</div>
		<div class="next breathingroom">Next: <a href="{% url 'lake_detail' nextlake.slug %}">{{ nextlake.name }}</a></div>
		<div class="elevation breathingroom">elevation in feet:</div>
		<div class="size breathingroom">surface area in acres:</div>
		<div class="location breathingroom">lat lon location:</div>
		<div class="lakeelevation breathingroom">{{ lake.elevation }}</div>
		<div class="lakesize breathingroom">{{ lake.size }}</div>
		<div class="lakelatlon breathingroom">
			<a href="https://caltopo.com/map.html#ll={{ lake.lat }},{{ lake.lon }}&z=14&b=t&o=r&n=0.25" target="_blank">{{ lake.lat }}, {{ lake.lon }}</a>
		</div>
		<div class="lakeoutline">
			<img src="{{ lake.lakeoutline.url }}" alt="Topographic map of area surrounding {{ lake.name }}">
		</div>
		<div class="lakemap">
			<img src="{{ lake.locationmap.url }}" alt="Outline of Yosemite National Park showing location of {{ lake.name }}">
		</div>
</div>


{% endblock %}