{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="listdisplay">
	<h1>Explore the <span class="bigblue">167</span> named lakes of Yosemite</h1>

	<div>
		<ul class="fulllist">
			{% for lake in lakes %}
				<li>
					{% if lake.image %}
					<a href="{% url 'lake_images' lake.slug %}">
						<img src="{% static 'images/visited.svg' %}" alt="blue dot indicating lake has been photographed">
						{{ lake.name }}</a>
					{% else %}
						<a href="{% url 'lake_detail' lake.slug %}">
						<img src="{% static 'images/tovisit.svg' %}" alt="red circle indicating lake has not been photographed">
						{{ lake.name }}</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
	
		<div>
			<h2>Top 10 Lakes by Elevation</h2>
			<ul class="toptenlist">
				{% for lake in lakesTopTenByElevation %}
					
						<li>
						{% if lake.image %}
						<a href="{% url 'lake_images' lake.slug %}">
					    <img src="{% static 'images/visited.svg' %}" alt="blue dot indicating lake has been photographed">
						{{ lake.name|capfirst }} - {{ lake.elevation }}'</a>
						{% else %}
						<a href="{% url 'lake_detail' lake.slug %}">
						<img src="{% static 'images/tovisit.svg' %}" alt="red circle indicating lake has not been photographed">
						{{ lake.name|capfirst }} - {{ lake.elevation }}'</a>
						{% endif %}
						</li>
					
				{% endfor %}
			</ul>
		</div>
		<div>
			<h2>Top 10 Lakes by Area</h2>
			<ul class="toptenlist">
				{% for lake in lakesTopTenByArea %}
					
						<li>
						{% if lake.image %}
						<a href="{% url 'lake_images' lake.slug %}">
					    <img src="{% static 'images/visited.svg' %}" alt="blue dot indicating lake has been photographed">
					    {{ lake.name|capfirst }} - {{ lake.size }} acres</a>
						{% else %}
						<a href="{% url 'lake_detail' lake.slug %}">
						<img src="{% static 'images/tovisit.svg' %}" alt="red circle indicating lake has not been photographed">
						{{ lake.name|capfirst }} - {{ lake.size }} acres</a>
						{% endif %}
						
						</li>
					
				{% endfor %}
			</ul>
		</div>
	<div class="lakeskey"><img src="{% static 'images/visited.svg' %}" alt="blue dot"> = photographed &nbsp;&nbsp;&nbsp; <img src="{% static 'images/tovisit.svg' %}" alt="red circle"> = to photograph</div>
</div>
{% endblock %}