{% extends "base.html" %}
{% load static %}
{% block content %}

<!--
<div>
		<ul class="fulllist">
			{% for lake in lakes %}
				<li>
					<a href="{% url 'lake_detail' lake.slug %}">{{ lake.name }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>

-->

<a href="{% url 'lake_detail' prevlake.slug %}"><button class="prevButton">Prev {{ prevlake.name }}</button></a>

<a href="{% url 'lake_detail' nextlake.slug %}"><button class="nextButton">Next {{ nextlake.name }}</button></a> 
<div class="lakecard">
		<!--<div class="statsicon"><img src="{% static 'images/stats_icon.svg' %}" alt="Lake Stats"></div> old nav with graphic-->
		<div class="statsicon"><span class="navbtn">Stats / Maps</span></div>
		<h2 class="lakename">{{ lake.name }}</h2>
		<div class="photoicon">
		{% if lake.image %}
		<a class="navbtn" href="{% url 'lake_images' lake.slug %}">Photo</a>
		{% else %}
		<span class="navbtn nophoto">No Photo Yet</span>
		{% endif %}
		</div>
		
		<div class="elevation">elevation in feet: INDEX {{ index }}</div>
		<div class="size">surface area in acres:</div>
		<div class="location">lat lon location:</div>
		<div class="lakeelevation">{{ lake.elevation }}</div>
		<div class="lakesize">{{ lake.size }}</div>
		<div class="lakelatlon">{{ lake.lat }}, {{ lake.lon }}</div>
		<div class="lakeoutline"><img src="{{ lake.lakeoutline.url }}"></div>
		<div class="lakemap"><img src="{{ lake.locationmap.url }}"></div>
		<!-- Removed temporarily to simplfy launch moved to 2.0
		<div class="lakedrainagelable">Trailhead:</div>
		<div class="lakedrainagetree">{{ lake.trailhead }} : {{ lake.traildistance }}</div>
		-->
</div>


{% endblock %}