{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="textpage">
	<h1>Doubt Creeps In - The Route to Mattie Lake</h1>
	<p>Doubt creeps in. As I head away from <a href="/lakes/tenaya-lake/">Tenaya Lake</a> the ranger’s voice rattles around in my mind “You’re gonna hike to <a href="/lakes/mattie-lake/">Mattie Lake</a>, that’s awesome, I just tried the other day and got ledged out.” The ranger was pointing to my route on the map, a route I had thought long and hard about, and saying that she found it impassable.</p>
	<p>Since well over half of the <a href="{% url 'lakes_lists' %}">167 named lakes in Yosemite</a> that I plan to photograph do not have direct trail access, I am accustomed to traveling cross-country, with no trail to guide my feet. I carefully plan my hikes based on the detailed elevation data contained in topographic maps. After many hours spent examining maps of the Mattie Lake area, I had thought a route roughly following the creek from the lake to the Tuolumne River looked workable, but now striking out on the trail by myself doubt starts to set in and I consider turning back, retreating to the sure comfort of home.</p>


	<img class="noteimage" src="{% static 'images/mattie-8826.jpg' %}" alt="McGee Lake looking southwest, large granite mountains on either side of a long narrow lake with tiny mountains and cloud in the distance.">
	<p class="imgcaption">McGee Lake looking southwest.</p>
	
	<p>Passing charming <a href="/lakes/mcgee-lake/">McGee Lake</a> I take a slight detour to get a view over Glen Aulin, and my proposed route. Finding a comfortable place to sit, the sound of the river below filling the air, I take in the scene. A beautiful valley punctuated by the winding river stretches away toward two imposing sheer-faced granite domes rising from the valley floor. Squeezed in between them is a cliffy brushy chute that looks doable … maybe. I sit for a bit longer. Is that something I want to try? Should I just head back home? Will I too, be ledged out?</p>

	<img class="noteimage" src="{% static 'images/mattie-8837.jpg' %}" alt="Green forested valley surrounded by exposed granite walls, with blue sky and one tiny cloud.">
	<p class="imgcaption">The view over Glen Aulin, toward Mattie Lake. My planned route would have run approximately from the left hand tip of exposed granite up to the notch below the lone little cloud.</p>

	<p>After studying my proposed chute route for a while, my attention is drawn up canyon to the shoulder of the near dome, and catches on a clear line swinging down to the river. Consulting my printed map, I see that that line will take me up behind the first dome, and if I can get through one steep section hidden from view, I should have a relatively smooth route the rest of the way to Mattie Lake. This new course will be a bit longer, but I determine to try it, and set off. Crossing the Tuolumne River on the bridge at Glen Aulin, I stop to enjoy the sound and sight of the White Cascade. Turning briefly down river I soon leave the trail and hike over a large expanse of glacier scored and polished granite, feeling like an ant traversing the inside of a giant salad bowl.</p>

	<img class="noteimage" src="{% static 'images/MapWLines.jpg' %}" alt="USGS topographic map of the Glen Aulin Mattie Lake area showing the proposed and approximate route taken to Mattie Lake.">
	<p class="imgcaption">The arrow points to the location of the overlook where I rested, and indicates the direction of my view from there. The dashed line represents my planned route, and the solid like marks the approximate route I took to reach Mattie Lake.</p>

	<p>Soon the smooth granite hiking gives way to brush and boulders, and I still have that one tough section looming ahead, but I keep hiking, picking a point and hiking toward it. As I navigate around various obstacles my track becomes a sequence of haphazard seeming zigzags. Eventually I reach the place on the map that looks like it might end my trip, and indeed it appears at first to be a daunting barrier. Eighty feet of near vertical granite dominates the view ahead, stopping me in my tracks, and I decide to take a break.</p>
	<p>While I rest I see a rough ramp leading up to my right; at least I can go a little farther. Following the ramp for another ten minutes of careful route picking, and brush battling, brings me to a small flat and a view to a workable route around this potentially trip-ending obstacle. Soon I am standing on top of that granite wall, looking back down over the Tuolumne River, several of its waterfalls, and the Cathedral Range rising in the distance. From here the route is relatively easy to pick and follow, roughly traversing northwest to Mattie Lake about a mile and a half away.</p>

	<img class="noteimage" src="{% static 'images/Mattie-8873.jpg' %}" alt="Small island with lodgepole pines reflected in water with blue sky and puffy white clouds in afternoon light.">
	<p class="imgcaption">Late afternoon at Mattie Lake.</p>

	<p>As I set up camp I am reminded of how important it is to fight my doubts, to simply keep moving, even when it’s just one more step at a time, and I can’t clearly see where I am headed.</p>

	<img class="noteimage" src="{% static 'images/Mattie-8890.jpg' %}" alt="Tent and simple camp on decomposed granite with surrounded by boulders and dwarf trees, slight glimpse of Mattie Lake in background.">
	<p class="imgcaption">A well-earned camp at Mattie Lake.</p>

	<p class="tripdates">Trip Dates: August 24 - 25, 2019</p>

</div>
{% endblock %}